@charset "utf-8";

*{-webkit-text-size-adjust:none;}/* 가로방향 회전시 화면확대 방지*/

/* 기본서식 */
body {
    font-family: "맑은고딕", arial, sans-serif;
    font-size: 12px;
    color: #434343;
}

a { color: #434343;
    text-decoration: none;

}

header,footer{
	width: 100%;	
}

/* 체크박스 숨기기 */
#toggle{display:none;}

#wrap {
    /* width: 100%;
    left: 0px;
    position: absolute;
    transition: 0.5s; */

    left: 0px;
    /* transition: 0.5s; */
    /* width: 800px; */
    margin: 0 auto;
    overflow-x: hidden;
}

#wrap2 {
    transition: 0.5s;
}

/*        토글 클릭시 전체 wrap영역이 움직이는 서식*/
.wrap_pos {
    /* left: 80% !important; */
    /* transform: translateX(600px); */
    transform: translateX(80%);
}


.f_menu ul {
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 10px 0px 2px 0px;
}

.f_menu .search {
    /* width: 100%; */
    background-color: #fff;
    z-index: 3000;
    position: fixed;
    /* bottom: 74px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 8px 0px;
}